@page
@model IndexModel
@using System.Text;

@{
    ViewData["Title"] = "Home page";
}

@{
    StringBuilder str = new StringBuilder();
    foreach (string word in Model.dict.Keys) str.AppendLine(String.Format("{0,-24} {1}", word, Model.dict[word]));
    <h1>@str.ToString()</h1>
}