@page
@model IndexModel
@using System.Text;

@{
    ViewData["Title"] = "Home page";
}
<p>Текст до отправки get запроса: Null null null Hello world hello Hello</p>
@{
    foreach (string word in Model.dict.Keys) 
    {
        <h1>@String.Format("{0,-24} {1}\n", word, Model.dict[word])</h1>
    }
}