@page
@model IndexModel
@using System.Text;

@{
    ViewData["Title"] = "Home page";
}
<p>Сервису отправлен дефолтный текст. Его можно изменить, отправив get запрос, но поменяеться только счетчик, пример текста и это сообщение останется!</p>
@{
    foreach (string word in Model.dict.Keys) 
    {
        <h1>@String.Format("{0,-24} {1}\n", word, Model.dict[word])</h1>
    }
}
<p>
    Таким образом, внедрение современных методик выявляет срочную потребность стандартных подходов. Безусловно, постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации как самодостаточных, так и внешне зависимых концептуальных решений. В целом, конечно, разбавленное изрядной долей эмпатии, рациональное мышление прекрасно подходит для реализации экспериментов, поражающих по своей масштабности и грандиозности. 

    Таким образом, внедрение современных методик способствует подготовке и реализации инновационных методов управления процессами! Господа, семантический разбор внешних противодействий не даёт нам иного выбора, кроме определения укрепления моральных ценностей. С другой стороны, консультация с широким активом способствует подготовке и реализации укрепления моральных ценностей. В своём стремлении улучшить пользовательский опыт мы упускаем, что диаграммы связей представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть функционально разнесены на независимые элементы. Прежде всего, убеждённость некоторых оппонентов предоставляет широкие возможности для форм воздействия. В целом, конечно, высокотехнологичная концепция общественного уклада предполагает независимые способы реализации прогресса профессионального сообщества. 

    Идейные соображения высшего порядка, а также существующая теория способствует подготовке и реализации стандартных подходов.
</p>